@import './src/app/core/scss/vars';

.form-constructor {
    background-color: $primary-bg-color;
    padding: 30px 40px 40px;
    margin-bottom: 40px;

    .offer-type-label {
        &::first-letter {
            text-transform: uppercase;
        }
    }

    select,
    input {
        width: 186px;
    }

    textarea {
        height: 60px;
    }
}

.dashed-line {
    height: 2px;
    opacity: .5;
    margin: 3px 0 30px -15px;
    border: dashed 1px $secondary-text-color;
}

.btn-product-selector {
    width: 186px;
    padding: 5px 0;
}
