button {
    font-family: $source-sans;
}

.btn {
    padding: 5px 16px;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    transition: background .2s ease-out,
    color .2s ease-out,
    border-color .2s ease-out;
    background: transparent;

    &:focus,
    &:hover,
    &:active {
        outline: none;
    }

    &.disabled,
    &:disabled {
        opacity: .3;
        pointer-events: none;
    }
}

.btn-lg {
    padding: 17px;
}

.btn-sm {
    width: 80px;
    padding: 5px 2px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn-md {
    min-width: 188px;
}

.btn-extra-sm {
    font-size: 10px;
    padding: 4px 10px;
}

.btn-primary {
    color: $white;
    background: $brand-blue;
    border-color: $brand-blue;

    &:hover {
        background: $primary-hover-color;
        border-color: $primary-hover-color;
    }
}

.btn-outline-blue {
    color: $brand-blue;
    border-color: $brand-blue;

    &:hover {
        color: $primary-hover-color;
        border-color: $primary-hover-color;
    }
}

.btn-outline-delete {
    color: $brand-error;
    border-color: $brand-error;

    &:hover {
        color: darken($brand-error, 10%);
        border-color: darken($brand-error, 10%);
    }
}

.btn-back {
    padding: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    background: transparent;
    color: $neutral-color;
    border: 2px solid $neutral-color;
    font-size: 17px;
    transition: color .2s ease-out,
    border-color .2s ease-out;

    &:hover,
    &:focus {
        color: $primary-hover-color;
        border-color: $primary-hover-color;
        outline: none;
    }
}

.btn-group {
    .btn {
        margin-right: 10px;

        &:last-child {
            margin-right: inherit;
        }
    }
}
