// Colors
$white: #fff;
$neutral-color: #d4d4d4;
$picked-bluewood: #33475a;
$dusty-gray: #979797;
$hover-blue: #ebf9fe;
$gray-b-17: #eee;
$disabled: #ebebe4;
$black: #000;

// Brand
$brand-blue: #428ce8;
$brand-cyan: #00c6d7;

$brand-error: #de4949;
$brand-accent: #ffc000;
$brand-success: #2ab585;

// Text
$primary-text-color: #4a4a4a;
$secondary-text-color: #777;

// Background
$primary-bg-color: #f4f4fa;
$secondary-bg-color: #eef9fd;
$solution-bg: #f2f4f8;

// Hover
$primary-hover-color: #3770b8;

// Fonts
$source-sans: 'Source Sans Pro', sans-serif;
$icon-fonts: 'flip-png-icons', sans-serif;
$font-size-base: 14px;


// Sizes
$content-width: 1340px;

// Breakpoints
$laptop: 1440px;
