.dialog-confirm {
    width: 470px;
    min-height: 199px;
    text-align: center;
    padding: 36px 0;

    .btn {
        width: 124px;
        text-align: center;
        margin: 0 10px;
    }
}

.dialog-confirm__title {
    margin: 0 0 10px;
}

.dialog-confirm__description {
    margin: 0 0 40px;
}
